body, html {
    font-family: "Open Sans";
    height: 100%;
}

#header {
  background-image: url("background.jpg");
  background-color: #263d36;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  line-height: 1.2;
  text-align: center;
}

#jumbotron-content {
    background-color: rgba(62, 60, 64, 0.15);;
}

.white, h1.white {
    color: white;
}

.walter-turncoat {
    font-family: "Walter Turncoat", "Open Sans", "Helvetica", "Arial", sans-serif;
}

#jumbotron-subtext {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}
