body {
    font-family: "Merriweather Sans";

}

#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63,76,107); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  line-height: 1.2;
  text-align: center;
}

#jumbotron-subtext {
    font-family: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
}

.white, h1.white {
    color: white;
}

.walter-turncoat {
    font-family: "Walter Turncoat", "Merriweather Sans", "Helvetica", "Arial", sans-serif;
}

.portfolio-image {
    padding-bottom: 10px;
}

#experience {
    background: rgb(206,220,231);
    margin-top: 10px;
}

.experience-item {
    padding-bottom: 20px;
}

.experience-item-image {
    padding-right: 0;
}

.company-name {
    font-size: 2.2em;
    font-weight: bolder;
    color: #030304;
    margin-top: 0;
    padding-left: 0;
}

.duration {
    font-size: 1.2em;
    color: #878179;
    padding-left: 0;
}

.position {
    font-size: 1.6em;
    color: #43413F;
    font-weight: bolder;
}

.job-description {
    color: #6A6562;
    font-size: 1.2em;
}
