body {
    font-family: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
}

#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63,76,107); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  line-height: 1.2;
  text-align: center;
}

#jumbotron-subtext {
    font-family: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
}

.white, h1.white {
    color: #E5EBEA;
}

.walter-turncoat {
    font-family: "Walter Turncoat", "Merriweather Sans", "Helvetica", "Arial", sans-serif;
}

.portfolio-image {
    padding-bottom: 10px;
}

#experience {
    background: rgb(206,220,231);
    margin-top: 10px;
}

.experience-item {
    padding-bottom: 20px;
}

.experience-item-image {
    padding-right: 0;
}

.company-name {
    font-size: 2.2em;
    font-weight: bolder;
    color: #000000;
    margin-top: 0;
    padding-left: 0;
}

.duration {
    font-size: 1.2em;
    color: #3C3744;
    padding-left: 0;
}

.position {
    font-size: 1.6em;
    color: #43413F;
    font-weight: bolder;
}

.job-description {
    color: #3C3744;
    font-size: 1.2em;
}

.footer-basic-centered {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: center;
	font-family: "Merriweather Sans", "Helvetica", "Arial", sans-serif;
	font: normal 18px sans-serif;
	padding: 45px;
}

.footer-basic-centered .footer-company-motto {
	color: #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-social {
  color: #DEDBD2;
}

.footer-basic-centered .footer-company-name {
	color:  #DEDBD2;
	font-size: 14px;
	margin: 0;
	padding-top: 5px;
}

.footer-basic-centered .footer-links {
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a {
	display:inline-block;
	text-decoration: none;
	color: #DEDBD2;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
	.footer-basic-centered {
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto {
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name {
		font-size: 12px;
	}

	.footer-basic-centered .footer-links {
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a {
		line-height: 1.8;
	}
}
